@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
}

h1, h2 {
  font-size: 100px;
  font-family: Roboto, sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
  transform: translateY(100%);
}

